<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <canvas class='col'></canvas>
  <aside class='card'>
    <div class='card-header text-center p-3'>
      <h1>HI-SCORES</h1>
    </div>
    <div class='card-body row'>
      <div class= "users"> 
         <li class='user-list'>
        <ol class='user'>Blake<ol>
      </li>
      </div>
      <div class="scores"> 
         <li class='score-list'>
        <ol class='scores'>200<ol>
      </li></div>
    

    </div>
  </aside>

</div>