header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

section {
  width: 100%;
  padding-left: 15px;
  margin-left: 15px;
  font-style: italic;
  border: 1px solid black;
}

table {
  border: 1px solid black;
  width: 100%;
}

th {
  height: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
